// emply Card

.employBg {
    display: flex;
    flex-direction: row;
    padding-top: 5rem;
    .employFilterSction {
        flex: 2;
        max-width: 200px;
        border: 1px solid red;
        padding: 1rem;

        button {
            margin: 1.4rem;
        }

        .employFilterTitle {
            display: flex;
            justify-content: space-between;
            font-size: 1.6rem;
            font-weight: bolder;

            p:last-child {
                cursor: pointer;

                &:hover {
                    color: red;

                }
            }
        }

        .employFilterSalary {
            margin: 2rem 0;

            >p {
                font-size: 1.4rem;
            }

            div>p {
                font-size: 1rem;

            }


            div {
                font-size: 0.6rem;
                margin: 0.4rem 0;
                display: flex;
                justify-content: space-between;
            }

            input {
                width: 100%;
            }
        }
        .employFilterCategory{
            h2{
                font-size: 1.8rem;
                margin-bottom: 0.5rem;
            }
            ul>li{
                margin: 0.4rem;
            }
        }
        .searchemploy_input{
            margin-top: 1rem;
            label{
                font-size: 1.6rem;
            }
            input{
                margin-top: 0.4rem;
            }
        }
    }

    .cardBG {
        display: flex;
        grid-area: auto;
        justify-content: space-around;
        flex: 4;
        gap: 1rem;
        flex-wrap: wrap;
        margin: 1.5rem;

        .emplyCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            border: 1px solid black;
            border-radius: 1rem;
            box-shadow: 0 0 10px 1px rgb(108, 108, 108), ;

            .emplyCardImg {
                width: 13rem;
                height: 13rem;
            }

            .emplyCardBody {
                margin: 1rem 0;
                font-size: 1.2rem;

                .emplyCardName {
                    font-size: 1.9rem;
                    text-transform: capitalize;
                    text-align: center;
                    margin-bottom: 0.2rem;
                }

                .emplyBtns {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;
                }
            }
        }
    }

}









.productTitle{
    h1{
        text-align: center;
        padding: 6rem 0 0 0 ;
    }
}


.tableBg{
    border-spacing: 0;
    margin: 2rem auto;
    tr ,th ,td{
        border: 1px solid black;
        padding: 1rem;
    } 
    th{
        font-size: 1.5rem;
    }
    td{
        font-size: 1.2rem;
        text-align: center;
        div > span{
            padding: 0 0.4rem;
            cursor: pointer;
            &:hover{
                color: red;
            }
        }
    }
}



// home cdd

.homeBg{
    background-color: #0084ff1b;
    overflow: hidden;
    position: relative;
    .home{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        h1{
            font-size: 4.8rem;
            width: 70%;
            line-height: 5rem;
            text-transform: capitalize;
        }
        p{
            font-size: 1.4rem;
            width: 50%;
        }
        .svghomeRight{
            position: absolute;
            right: -10px;
            z-index: -1;
        }
        .svghomeleft{
            position: absolute;
            z-index: -1;
            top: 10%;
            left: -19%;
            color: #ccf5ff;
        }
    }
}