@media screen and (max-width:1150px){
 .nav_menu{
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   background-color: hsla(230, 39%, 70%, 0.5);
   box-shadow: 0 -8px 32px #0000001a;
   padding: 1.25rem 4rem;
   transition: background-color;
 }   

 .featured_container{
   height: 50rem;
}

}


/* ================ */



/* small devices */
@media screen and (max-width:320px) {
   .container{
      margin-inline: 1rem;
   }

   .nav_menu{
      padding-inline: 3rem;
   }

   .discount-img1,
   .discount-img2{
      width: 140px;
   }

   .new_card{
      flex-direction: column;
  }
  
  .testimonial_card{
      padding-inline: 1rem;
  }
  
  .footer_data{
      grid-template-columns: 1fr;
      row-gap: 2rem;
  }
}

/* ============ */

@media screen and (min-width:450px) {
   .featured_card{
       width: 290px;
   }

   .new_card{
       width: 390px;
   }

   .testimonial_card{
       width: 320px;
   }
}



/* medium  */

@media screen and (min-width:576px) {
   .search_from{
       width: 500px;
       margin-inline: auto;
   }

   .login_from{
       width: 400px;
       justify-self: center;
   }

   .search_close,
   .login_close{
       width: max-content;
       top: 4rem;
       left: 0;
       right: 0;
       margin-inline: auto;
   }

   .nav_menu{
       width: 300px;
       margin-inline: auto;
   }

   .home_container,
   .discount_container{
       grid-template-columns: 420px;
       justify-content: center;
   }
   .join_form{
       width: 328px;
       justify-self: center;
   }

   .footer_data{
       grid-template-columns: repeat(3 ,max-content);
   }
}



/* medium  */

@media screen and (min-width:768px) {
   .home_container{
       grid-template-columns: 580px;
   }

   .home_data{
       width: 420px;
       justify-self: center;
   }

   .services_container{
       grid-template-columns: repeat(3, max-content);
       justify-content: center;
       column-gap: 5rem;
   }

   .featured_card {
      height: 590px;
   }

   .footer_container{
       grid-template-columns: repeat(2,max-content);
       justify-content: space-between;
   }
}



/* ============ */

/* medium  */

@media screen and (min-width:1150px) {
   .section{
       padding-block: 7rem 2rem;
   }

   .nav{
       height: calc(var(--header_height)+4rem);
       column-gap: 3rem;
   }

   .nav_link i{
       display: none;
   }

   .nav_link span{
       display: block;
   }

   .nav_menu{
       width: initial;
       margin-inline: auto 0;
   }

   .nav_list{
       column-gap: 4rem;
   }

   .nav_link{
       font-weight: var(--font_medium);
   }

   .dark_theme .nav_menu{
       box-shadow: none;
   }

   .home_data{
       width: initial;
   }
   
   .services_container{
       column-gap: 10rem;
   }

   .services_card i{
       font-size: 3.5rem;
   }

   .featured_container{
       padding-top: 2rem;
   }

   .featured_title{
       font-size: var(--h3_fontSize);
   }

   .discount_container{
       grid-template-columns: 715px 500px;
       justify-content: space-between;
       align-items: center;
   }

   .discount_data{
       order: 1;
   }

   .discount_data,
   .discount_title{
       text-align: initial;
   }

   .discount_description{
       margin-bottom: 3.5rem;
   }

   .discount_img1,
   .discount_img2{
       width: 300px;
   }

   .new_container{
       padding-top: 2rem;
   }

   .new_card{
       padding: 1.5rem;
   }

   .new_img{
       width: 120px;
   }

   .new_title{
       font-size: var(--h3_fontSize);
   }

   .join_bg{
       object-position: 0 -5rem;
   }

   .testimonial_container{
       padding-top: 2rem;
   }

   .testimonial_card{
       padding-inline: 2rem;
   }

   .testimonial_title{
       font-size: var(--h3_fontSize);
   }

   .testimonial_desc{
       font-size: var(--noraml_fontSize);
   }

   .footer{
       padding-block: 6rem 3rem;
   }

   .footer_data{
       grid-template-columns: repeat(4,max-content);
       column-gap: 4.5rem;
   }

   .footer_logo,
   .footer_title{
       font-size: var(--h2_fontSize);
       margin-bottom: 1.5rem;
   }

   .footer_link{
       row-gap: 1rem;
   }

   .footer_social{
       column-gap: 1.5rem;
   }

   .footer_socialLink{
       font-size: 1.5rem;
   }

   .footer_copy{
       margin-top: 7.5rem;
   }

   .scrollup{
       right: 3rem;
   }

   .show_scroll{
       bottom: 3rem;
   }
}



@media screen and (min-width:1220px) {
   .container{
       margin-inline: auto;
   }

   .home_container{
       grid-template-columns: 435px 745px;
       align-items: center;
       padding-block: 7rem 2rem;
   }

   .home_data{
       text-align: initial;
   }

   .home_descrption{
       margin-bottom: 4rem;
   }

   .home_article,
   .home_img{
       width: 290px;
   }
}


/* ========== */